thumbnail-item-component {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-md-column(3);
  @include make-lg-column(4);
  @include make-xl-column(4);
  .thumbnail {
    @include wobble-vertical;
    @include border-fade;
    @include prefixed(transition-duration, 600ms);
    display: block;
    padding: 0;
    border-color: transparent;
    box-shadow: inset 0 0 0 2px #DFDCE3, 0 0 1px transparent;
    background-color: transparent;
    cursor: pointer;
  }
  .thumbnail:hover,
  .thumbnail:active {
    color: white;
    background-color: #b22701;
    box-shadow: inset 0 0 0 4px #4ABDAC, 0 0 1px transparent;
  }
  .thumbnail img {
    height: 200px;
    background-position: 45%;
    background-size: cover !important;
    background-repeat: no-repeat;
    width: 99%;
    margin-top: 4px;
  }
  .caption {
    color: white !important;
    text-align: center;
  }
}
