listview-component {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .vm-listView {
    @include make-xs-column(8);
    @include make-sm-column(8);
    @include make-md-column(10);
    @include make-lg-column(12);
    @include make-xl-column(12);
    @include make-sm-column-offset(1);
    @include make-xs-column-offset(2);
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
  }
  .vm-animate-list-item.ng-move,
  .vm-animate-list-item.ng-enter {
    @include fadeInLeft( $duration: 0.3s, $count: 1, $delay: 0s, $function: ease, $fill: both);
  }
  .vm-animate-list-item.ng-leave {
    @include fadeOutRight( $duration: 100ms, $count: 1, $delay: 0s, $function: ease, $fill: both);
  }
}
