muscle-group-detail-component {
  .vm-form-view {
    @include make-xs-column(10);
    @include make-sm-column(10);
    @include make-md-column(6);
    @include make-lg-column(6);
    @include make-xl-column(6);
    @include make-sm-column-offset(1);
    @include make-xs-column-offset(1);
    @include make-md-column-offset(3);
    @include make-lg-column-offset(3);
    @include make-xl-column-offset(3);
  }
  .vm-button-group {
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(10);
    @include make-lg-column(10);
    @include make-xl-column(10);
    @include make-md-column-offset(2);
    @include make-lg-column-offset(2);
    @include make-xl-column-offset(2);
    .btn-info:hover,
    .btn-info:active,
    .btn-info:focus,
    .btn-info.focus {
      background-color: #012525 !important;
      border-color: #012525 !important;
    }
    .btn-info {
      background-color: #076464;
      border-color: #076464;
    }
    .vm-button-item {
      padding-bottom: 10px;
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(6);
      @include make-lg-column(6);
      @include make-xl-column(6);
    }
  }
  .vm-page-title {
    background-color: transparent;
    h2 {
      width: 100% !important;
    }
    @include make-xs-column(11, 0);
    @include make-sm-column(8, 0);
    @include make-md-column(6, 0);
    @include make-lg-column(6, 0);
    @include make-xl-column(6, 0);
    @include make-xs-column-offset(1);
    @include make-sm-column-offset(4);
    @include make-md-column-offset(5);
    @include make-lg-column-offset(5);
    @include make-xl-column-offset(5);
  }
}
