<li ng-click="listItemCtrl.selectedListItem(listItemCtrl.listItem)" ng-class="listItem.selected ? 'active' : ''">
  <div class="listrap-toggle">
    <span></span>
    <img class="img-circle plan-img" ng-if='listItemCtrl.listItem.url' />
    <img class="img-circle" ng-if='listItemCtrl.listItem.workoutName' style='content: url("{{listItemCtrl.listItem.imageUrl}}")'
     />
  </div>
  <strong ng-if='listItemCtrl.listItem.url'>{{listItemCtrl.listItem.url}}</strong>
  <strong ng-if='listItemCtrl.listItem.workoutName'>{{listItemCtrl.listItem.workoutName}}</strong>
</li>
