list-item-component {
  height: 100px;
  display: block;
  cursor: pointer;
  margin-bottom: 25px;
  li {
    height: 100%;
    .title {
      margin-left: 120px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      display: block;
      margin-top: -20px;
    }
    .img-circle {
      padding-top: 5px;
      background: url("../img/workout-item.jpg");
      width: 100px;
      height: 100px;
      display: block;
      background-size: cover !important;
    }
    .listrap-toggle {
      display: inline-block;
      width: 60px;
      height: 60px;
      span {
        width: 100px;
        height: 100px;
        display: block;
        background-color: #428bca;
        opacity: 0.8;
        z-index: 100;
        width: 60px;
        height: 60px;
        display: none;
        position: absolute;
        border-radius: 50%;
        text-align: center;
        line-height: 90px;
        vertical-align: middle;
        color: #ffffff;
      }
      span:before {
        font-family: 'Glyphicons Halflings';
        content: "\e013";
      }
    }
  }
  li.active,
  li:hover {
    @include bounce-in;
    @include prefixed(transition-duration,
    400ms);
    cursor: pointer;
  }
}
