<li ng-click="listItemCtrl.selectedListItem(listItemCtrl.listItem)" ng-class="listItem.selected ? 'active' : ''">
  <div class="listrap-toggle">
    <span></span>
    <img class="img-circle plan-img" ng-if='listItemCtrl.listItem.url' />
    <img class="img-circle" ng-if='listItemCtrl.listItem.workoutName' style='background: url("{{listItemCtrl.listItem.imageUrl}}")'
    />
  </div>
  <div class="title" ng-if='listItemCtrl.listItem.url'>{{listItemCtrl.listItem.url}}</div>
  <div class="title" ng-if='listItemCtrl.listItem.workoutName'>{{listItemCtrl.listItem.workoutName}}</div>
  <div class="pull-right vm-edit-buttons-group">
  <button type="submit" class="btn btn-info btn-block" ng-click="listItemCtrl.updateListItem(listItemCtrl.listItem)" ui-sref="plansListView">Update</button>
  <button type="submit" class="btn btn-danger btn-block" ng-click="listItemCtrl.deleteListItem(listItemCtrl.listItem)">Delete</button>
  </div>
</li>
