muscle-group-list-component {
  .fa {
    font-size: 20px;
  }
  .vm-add-plan:before,
  .vm-add-plan:after {
    left: -10px;
    padding: 0px;
  }
  .vm-add-plan {
    left: 40px;
    @include icon-float-away;
    @include prefixed(transition-duration, 400ms);
    @include make-xs-column(11);
    @include make-sm-column(11);
    @include make-md-column(11);
    @include make-lg-column(11);
    @include make-xl-column(11);
    @include make-xs-column-offset(0.8);
    @include make-md-column-offset(0.8);
    @include make-lg-column-offset(0.3);
    @include make-xl-column-offset(1);
    margin-bottom: 20px;
    cursor: pointer;
  }
}
