
  <form class="form-horizontal vm-form-view" role="form">
    <div class="row">
      <div class="vm-page-title">
        <h2 ng-if="planDetailCtrl.viewStatus === planDetailCtrl.viewTypes.new">New Plan</h2>
        <h2 ng-if="planDetailCtrl.viewStatus === planDetailCtrl.viewTypes.update">Update Plan</h2>
        <h2 ng-if="planDetailCtrl.viewStatus === planDetailCtrl.viewTypes.delete">Delete Plan</h2>
      </div>
    </div>
    <div class="form-group">
      <label for="PlanName" class="col-sm-3  control-label">Plan Name</label>
      <div class="col-sm-9">
        <input type="text" id="PlanName" ng-model="planDetailCtrl.plan.url" placeholder="Plan Name" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-3 control-label">Description</label>
      <div class="col-sm-9">
        <input type="text" id="description"   ng-model="planDetailCtrl.plan.description" placeholder="Plan Description" class="form-control">
      </div>
    </div>
    <!--Form-group option buttons-->
    <div class="form-group">
      <div class="row vm-button-group">
        <div class="vm-button-item" ng-if="planDetailCtrl.viewStatus === planDetailCtrl.viewTypes.new">
          <button type="submit" class="btn btn-info btn-block"
          ng-click="planDetailCtrl.savePlan()">New Plan</button>
        </div>
        <div class="vm-button-item" ng-if="planDetailCtrl.viewStatus === planDetailCtrl.viewTypes.update">
          <button type="submit" class="btn btn-info btn-block" ng-click="planDetailCtrl.updatePlan()">Update</button>
        </div>
        <div class="vm-button-item" ng-if="planDetailCtrl.viewStatus === planDetailCtrl.viewTypes.delete">
          <button type="submit" class="btn btn-danger btn-block" ng-click="planDetailCtrl.deletePlan()">Delete</button>
        </div>
        <div class="vm-button-item">
          <button type="submit" class="btn btn-info btn-block" ui-sref="plansListView">Cancel</button>
        </div>
      </div>
    </div>
  </form>

