<div class="container-fluid">
  <div class="row">
    <search-bar-component search-bar-string="plansListCtrl.searchString"> </search-bar-component>
  </div>
  <div class="row">
    <div class="fa fa-plus vm-add-plan" ui-sref="createPlan"> Add Plan</div>
    <listview-component all-items="plansListCtrl.allPlans" set-selected-item="plansListCtrl.getSelectedListItem(item)"
    list-search-string="plansListCtrl.searchString"
    update-list-item="plansListCtrl.updateListItem(listItem)"
    delete-list-item="plansListCtrl.deleteListItem(listItem)"></listview-component>
  </div>
</div>
